<!DOCTYPE html>
<html>
        <head>
                <title>instaCal - Add Filter</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "css/bootstrap.min.css" rel = "stylesheet">
                <link href = "css/styles.css" rel = "stylesheet">
        </head>
        <body>
 
            <div class = "navbar navbar-default navbar-static-top">
                <div class = "container">
                               
                    <a href = "index" class = "navbar-brand">instaCal</a>
                               
                        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                            <span class = "icon-bar"></span>
                            <span class = "icon-bar"></span>
                            <span class = "icon-bar"></span>
                        </button>
                               
                        <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                            <ul class = "nav navbar-nav navbar-right">
                                       
                                <li class = "active"><a href = "index">Feed</a></li>
                                <li><a href = "friends">Friends</a></li>
                                <li><a href = "profile">Profile</a></li>
                                <li><a href = "calendar">My Calendar</a></li>
                                <li><a href = "notifi">Notifications</a></li>
                                <li><a href = "settings">Settings</a></li>
                                <li><a href = "welcome">Sign out</a></li>

                                
                                   
                            </ul>
                               
                        </div>
                               
                </div>
            </div>

            <div class = "container">
                <label for="examplefilter">Title</label>
                <input type="Name" class="form-control" placeholder="Title" required autofocus>
                <label for="exampleFilters">Privacy</label>
                <select input type="text" class="form-control" placeholder="">
                    <option>JSON1</option>
                    <option>JSON2</option>
                    <option>Following</option>
                    <option>Select Friends</option>
                </select>
                <label for="starttime">Start Time</label>
                <div class="row">
                    <div class="col-xs-3">
                    <input type="timehour" class="form-control" placeholder="12">
                    </div>
                    <div class="col-xs-3">
                    <input type="timemins" class="form-control" placeholder="00">
                    </div>
                    <div class="col-xs-3">
                        <select input type="text" class="form-control" placeholder="Month">
                            <option>AM</option>
                            <option>PM</option>
                        </select>
                    </div>
                </div>

                <label for="Endtime">End Time</label>
                <div class="row">
                    <div class="col-xs-6">
                        <p><a class="btn btn-lg btn-success" href="profile" role="button">Create Event</a></p>
                    </div>
                <div class="col-xs- 5">
                        <p><a class="btn btn-lg btn-danger" href="calander" role="button">Cancel</a></p>
                </div>

                 
            </div>
               
                




			<div class = "navbar navbar-inverse navbar-fixed-bottom">
               
                <div class = "container">
                    <p class = "navbar-text pull-left">&copy;2014 instaCal</p>

                    <p class = "navbar-text pull-right"><a href = "contactus"> Contact </a></p>
                    <p class = "navbar-text pull-right"><a href = "about"> About .</a></p>


                    
                </div>
               
            </div>


            <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src = "js/bootstrap.js"></script>
               
        </body>
</html>