<!DOCTYPE html>
<html>
        <head>
                <title>instaCal - Notificatuions </title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "css/bootstrap.min.css" rel = "stylesheet">
                <link href = "css/styles.css" rel = "stylesheet">
        </head>
        <body>
 
            <div class = "navbar navbar-default navbar-static-top">
                <div class = "container">
                               
                    <a href = "index" class = "navbar-brand">instaCal</a>
                               
                        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                            <span class = "icon-bar"></span>
                            <span class = "icon-bar"></span>
                            <span class = "icon-bar"></span>
                        </button>
                               
                        <div class = "collapse navbar-collapse navHeaderCollapse">
                               
                            <ul class = "nav navbar-nav navbar-right">
                                       
                                <li class = "active"><a href = "index">Feed</a></li>
                                <li><a href = "friends">Friends</a></li>
                                <li><a href = "profile">Profile</a></li>
                                <li><a href = "calendar">My Calendar</a></li>
                                <li><a href = "notifi">Notifications</a></li>
                                <li><a href = "settings">Settings</a></li>
                                <li><a href = "welcome">Sign out</a></li>

                                
                                       
                            </ul>
                               
                        </div>
                               
                </div>
            </div>
            <div class = "container" style="margin-bottom:75px">
               
                <div class = "jumbotron">
                    <text-center><h3>Notifications</h3>
                     <p>Melissa Cameron has requested to share her calanders with you.</p>

                     <a href = "emptyNoti" class = "btn btn-info">Accept</a>
                     <a href = "emptyNoti" class = "btn btn-info">Reject</a>
                    <p>Grant Wiesnoski has collaborated on your Class Filter.</p>
                     <a class = "btn btn-info">See Event</a></text-center>


                 </div>
               
            </div>




			<div class = "navbar navbar-inverse navbar-fixed-bottom">
               
                <div class = "container">
                    <p class = "navbar-text pull-left">&copy;2014 instaCal</p>

                    <p class = "navbar-text pull-right"><a href = "contactus"> Contact </a></p>
                    <p class = "navbar-text pull-right"><a href = "about"> About .</a></p>


                    
                </div>
               
            </div>


            <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script src = "js/bootstrap.js"></script>
               
        </body>
</html>