@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap.css');

/*
@import url('http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css');
*/

.imageClip{
    width:200px;
    height:auto;
    overflow:hidden;
}
